@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

.App {
    background-image: linear-gradient(#2E282A, #EDB88B);
    min-height: 100vh;
}

.guess-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FAD8D6;
    margin-bottom: 1em;
    gap: 3vh;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    /* position: fixed;  */
    /* top: 2%; 
    left: 0; 
    right: 0; */
    font-size: 1.5em;
    width: 50%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.letters {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid #FAD8D6;
    color: #FAD8D6; 
    padding-left: 3vw;
    padding-right: 3vw;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 550px) {
    .movie-grid {
        font-size: 1em;
    }
}

#the {
    font-size: 3em;
    animation: fadeIn 2.3s;

}

#game {
    font-size: 3em;
    animation: fadeIn 2.3s;

}

.wrong {
    color: #EF3E36;
    background: #2E282A;
}

.right {
    color: #08a154;
    background: #2E282A;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAD8D6;
    /* height: 45vh; */
}

#guess-count {
    animation: fadeIn 1.3s;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
    animation: fadeIn 1.3s;

}

.actors-searchbar {
    border-radius: 100px;
    border: none;
    padding: 1em 2em;
    width: 30vw;
}

@media screen and (max-width: 700px) {
    .actors-searchbar {
        width: 50vw;
    }
}

.actor-search-btn {
    border-radius: 10px;
    border: none;
    padding: 1em;
}

.actor-search-btn:hover {
    cursor: pointer;
    background: #e8cac9; 
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#headers {
    max-width: 80vw;
    display: flex;
    justify-content: center;   
    /* gap: 8vw; */
    font-size: 1.2em;
    border-bottom: 3px solid #2E282A;
    border-top: 3px solid #2E282A;
    animation: fadeIn 1.3s;
}

th, td {
    width: 20vw;
    text-align: center;
    border-left: 1.5px solid #2E282A;
    border-right: 1.5px solid #2E282A;
    font-size: 1em;
    padding: 1vw;
}

td {
    animation: slideDown .5s ease-in;
}

@keyframes slideDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media screen and (max-width: 700px) {
    #headers {
        font-size: 1em;
    }

    th, td {
        font-size: .8em;
    }
}

@media screen and (max-width: 500px) {
    #headers {
        font-size: .8em;
    }

    th, td {
        font-size: .6em;
    }
}


#results {
    max-width: 80vw;
    display: flex;
    justify-content: center;    
    border-bottom: 2px solid #2E282A;
    color: #f9e1e0;
}

@media screen and (max-width: 800px) {
  
}

.win-page {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 80vh;
    background-color: #e8cac9;
    opacity: .95;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 15px 1px rgba(0,0,0,0.7);
    color: #2E282A;
    animation: modalFadeIn .7s ease-in;
}

@keyframes modalFadeIn {
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}

.win-page-hide {
    opacity: none;
    pointer-events: none;
}

.movie-poster {
    max-width: 320px;
    max-height: 320px;
}

.share-btn {
    padding: .7em 1.2em;
    cursor: pointer;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    color: #2E282A;
    background-color: #EDB88B;
    transition: .2s;
}

.share-btn:hover {
    background-color: #efa86a;
}

@media screen and (max-width: 500px) {
    .movie-poster {
        width: 30vw;
    }

    .win-page {
        width: 60vw;
        height: 55vh;
        font-size: .8em;
    }
}
