* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.App {
    background-image: linear-gradient(#2E282A, #EDB88B);
    min-height: 100vh;
}

.guess-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FAD8D6;
    margin-bottom: 1em;
    gap: 3vh;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    /* position: fixed;  */
    /* top: 2%; 
    left: 0; 
    right: 0; */
    font-size: 1.5em;
    width: 50%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.letters {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 3px solid #FAD8D6;
    color: #FAD8D6; 
    padding-left: 3vw;
    padding-right: 3vw;
}

@media screen and (max-width: 550px) {
    .movie-grid {
        font-size: 1em;
    }
}

#the {
    font-size: 3em;
}

#game {
    font-size: 3em;
}

.wrong {
    color: #EF3E36;
    background: #2E282A;
}

.right {
    color: #08a154;
    background: #2E282A;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAD8D6;
    /* height: 45vh; */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.actors-searchbar {
    border-radius: 100px;
    border: none;
    padding: 1em 2em;
    width: 30vw;
}

@media screen and (max-width: 700px) {
    .actors-searchbar {
        width: 50vw;
    }
}

.actor-search-btn {
    border-radius: 10px;
    border: none;
    padding: 1em;
}

.actor-search-btn:hover {
    cursor: pointer;
    background: #e8cac9; 
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headers {
    max-width: 80vw;
    display: flex;
    justify-content: center;   
    /* gap: 8vw; */
    font-size: 1.2em;
    border-bottom: 3px solid #2E282A;
    border-top: 3px solid #2E282A;
}

th, td {
    width: 20vw;
    text-align: center;
    border-left: 1.5px solid #2E282A;
    border-right: 1.5px solid #2E282A;
    font-size: 1em;
    padding: 1vw;
}

#results {
    max-width: 80vw;
    display: flex;
    justify-content: center;    
    border-bottom: 2px solid #2E282A;
    color: #f9e1e0;
}

@media screen and (max-width: 800px) {
  
}
