* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

.App {
    background-image: linear-gradient(#2E282A, #EDB88B);
    height: 100vh;
}

.guess-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FAD8D6;
    height: 70vh;
    gap: 5vh;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    /* position: fixed;  */
    /* top: 2%; 
    left: 0; 
    right: 0; */
    font-size: 2em;
    width: 50%;
    padding-left: 1vw;
    padding-right: 1vw;
}

.letters {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: .5px solid #FAD8D6;
    color: #FAD8D6; 
    /* background: #FFFFFF; */
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    box-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

#the {
    font-size: 3em;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC; }

#game {
    font-size: 3em;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC; 
}

.wrong {
    color: #EF3E36;
    background: #2E282A;
}

.right {
    color: #08a154;
    background: #2E282A;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FAD8D6;
    /* height: 45vh; */
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.actors-searchbar {
    border-radius: 100px;
    border: none;
    padding: 1em 2em;
    width: 30vw;
}

.actor-search-btn {
    border-radius: 10px;
    border: none;
    padding: 1em;
}

.actor-search-btn:hover {
    cursor: pointer;
    background: #e8cac9; 
}

.table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#headers {
    width: 80vw;
    display: flex;
    justify-content: center;   
    /* gap: 8vw; */
    font-size: 1.2em;
    border-bottom: 3px solid #2E282A;
    border-top: 3px solid #2E282A;
}

th, td {
    width: 20vw;
    text-align: center;
    border-left: 1.5px solid #2E282A;
    border-right: 1.5px solid #2E282A;
    padding: 1em;
}

#results {
    width: 80vw;
    display: flex;
    justify-content: center;    
    border-bottom: 2px solid #2E282A;
    color: #f9e1e0;
}

